<div class="container-fluid">
    <app-user-info *ngIf="step === 1" (submitForm)="submitForm($event)"></app-user-info>
    <app-project-info *ngIf="step === 2" (submitForm)="submitForm($event)"></app-project-info>
    <app-summary *ngIf="step === 3" [userInfo]="userInfo"></app-summary>

    <button *ngIf="step === 3" type="button" class="btn btn-primary m-5" (click)="restimate()">Réestimer</button>
</div>