<div class="card p-3 m-5 col-6">
    <form [formGroup]="userInfoForm" (ngSubmit)="validateStep(userInfoForm)">
        <div class="form-group mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="civility" name="civility"
                    id="inlineRadio1" value="Mr">
                <label class="form-check-label" for="mr">Mr</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="civility" name="civility"
                    id="inlineRadio2" value="M.">
                <label class="form-check-label" for="m">M.</label>
            </div>
            <div class="invalid-feedback d-block" *ngIf="checkError('civility')">
                erreur civilité
            </div>
        </div>
        <!--<div class="form-group">
        <label for="civility">Civilité</label>
        <input type="text" formControlName="civility" class="form-control" placeholder="Civilité">
        <div class="invalid-feedback d-block" *ngIf="checkError('civility')">
            erreur civilité
        </div>
    </div>-->
        <div class="form-group mb-3">
            <label for="lastname">Nom</label>
            <input type="text" formControlName="lastname" class="form-control" placeholder="Nom">
            <div class="invalid-feedback d-block" *ngIf="checkError('lastname')">
                erreur nom
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="firstname">Prénom</label>
            <input type="text" formControlName="firstname" class="form-control" placeholder="Prénom">
            <div class="invalid-feedback d-block" *ngIf="checkError('firstname')">
                erreur prenom
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Email">
            <div class="invalid-feedback d-block" *ngIf="checkError('email')">
                erreur email
            </div>
        </div>
        <div class="form-group mb-3">
            <label for="tel">Téléphone</label>
            <input type="tel" formControlName="tel" class="form-control" placeholder="Téléphone">
            <div class="invalid-feedback d-block" *ngIf="checkError('tel')">
                erreur Téléphone
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Suivant</button>
    </form>
</div>