<div class="card p-3 m-5 col-6">
    <form [formGroup]="projectForm" (ngSubmit)="validateStep(projectForm)">

        <div class="form-group mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="lodgment" name="lodgment" id="owner"
                    [value]="lodgmentEnum.OWNER">
                <label class="form-check-label" for="owner">Propriétaire</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" formControlName="lodgment" name="lodgment" id="lodger"
                    [value]="lodgmentEnum.LODGER">
                <label class="form-check-label" for="lodger">Locataire</label>
            </div>
            <div class="invalid-feedback d-block" *ngIf="checkError('lodgment')">
                Mettre un choix
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="nPerson">Nombre de personnes dans le foyer:</label>
            <input type="number" formControlName="numberOfPersons" id="nPerson" class="form-control"
                placeholder="Nombre de personnes">
            <div class="invalid-feedback d-block" *ngIf="checkError('numberOfPersons')">
                erreur Nombre de personnes
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="income">Revenues</label>
            <input type="number" formControlName="income" id="income" class="form-control" placeholder="Revenues">
            <div class="invalid-feedback d-block" *ngIf="checkError('income')">
                erreur revenues
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="surface">Surface</label>
            <input type="number" formControlName="surface" id="surface" class="form-control" placeholder="Surface">
            <div class="invalid-feedback d-block" *ngIf="checkError('surface')">
                erreur Surface
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>