<div class="card col-6 m-5">
    <div class="card-body">
        <h5 class="card-title">
            Merci {{userInfo.civility}} {{userInfo.lastname}} {{userInfo.firstname}}
        </h5>
        
        <div *ngIf="!isNotOwner && effyPrice > 0">
            <p class="card-text">Montant de l'aide Effy: {{ effyPrice | number : '.2-2' }}</p>
            <p class="text-body-secondary">Félicitations vous êtes éligible</p> 
        </div>
        
        <p class="text-body-secondary" *ngIf="isNotOwner || effyPrice < 0">Vous n'êtes pas éligible</p>
        
    </div>
</div>